<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile Form (with Validation)</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- VALIDATE.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

    <!-- moment.js -- Parse, validate, manipulate, and display dates-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

</head>

<body class="bg-blue-100">
    <div id="app">
        <form @submit.prevent="checkForm">
            <div class="container w-2/5 p-8 mx-auto mt-10 mb-10 border rounded-lg shadow-2xl bg-gray-50">
                <h1 class="font-bold text-2xl pb-2">My Profile Form (with Validation)</h1>
                <p v-show="Object.keys(errors).length != 0" class="text-red-500">
                    <b>Please correct the error(s) below!</b>
                </p>
                <img class="rounded-full w-24 border border-gray-100 shadow-2xl mb-2 mt-2" src="./images/62130500094pic.jpg">
                <div class="grid grid-cols-2 gap-4">
                    <input-box required="1" type="text" var-name="firstname" @box-input-changed="updateFormDataElement" :errors-obj="errors">First Name</input-box>
                    <input-box required="1" type="text" var-name="lastname" @box-input-changed="updateFormDataElement" :errors-obj="errors">Last Name</input-box>
                    <input-box required="1" type="date" var-name="birthday" @box-input-changed="updateFormDataElement" :errors-obj="errors">Birthday</input-box>
                    <!-- Start of gender radio input -->
                    <div class="flex flex-col">
                        <label class="text-sm leading-7 text-gray-600">Gender <span class="text-red-600">*</span></label>
                        <div class="flex flex-row py-2 space-x-2 items-center">
                            <input type="radio" id="male" v-model="formData.gender" name="gender" value="M"
                                class="bg-gray-100 rounded px-4 py-2">
                            <label for="male">Male</label>
                            <input type="radio" id="female" v-model="formData.gender" name="gender" value="F"
                                class="bg-gray-100 rounded px-4 py-2">
                            <label for="female">Female</label>
                        </div>
                        <span v-show="errors['gender']" class="text-red-500 font-medium" v-for="eachErrorInfo in errors['gender']">{{eachErrorInfo}}</span>
                    </div>
                    <!-- End of gender radio input -->
                    <input-box required="1" type="text" var-name="email" @box-input-changed="updateFormDataElement" :errors-obj="errors">Email</input-box>
                    <input-box required="1" max-length="10" type="text" var-name="phone" @box-input-changed="updateFormDataElement" :errors-obj="errors">Phone Number</input-box>
                    <div>
                        <input type="submit" value="Save Changes"
                            class="px-8 py-2 text-white bg-purple-500 rounded-lg hover:bg-purple-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- my main.js -->
    <script src="./main.js"></script>
    <script src="./components/inputBox.js"></script>
    <script>rootComponentInstance = app.mount('#app');</script>
</body>

</html>